@model BookManagementLib.BusinessObject.Company

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout"+TempData.Peek("role")+".cshtml";
}

<h1>Create</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <input asp-for="CompanyId" class="form-control" readonly value="@ViewBag.newid" />
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyEmail" class="control-label"></label>
                <input asp-for="CompanyEmail" class="form-control" type="email"/>
                <span asp-validation-for="CompanyEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyAddress" class="control-label"></label>
                <input asp-for="CompanyAddress" class="form-control" />
                <span asp-validation-for="CompanyAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyPhone" class="control-label"></label>
                <input asp-for="CompanyPhone" class="form-control" />
                <span asp-validation-for="CompanyPhone" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSupplier" onclick="checkSup()" id="sup" /> @Html.DisplayNameFor(model => model.IsSupplier)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsReceiver" onclick="checkRec()" id="rec" /> @Html.DisplayNameFor(model => model.IsReceiver)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" onclick="return FormValidate()"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    function checkSup() {
        document.getElementById('rec').disabled = document.getElementById('rec').disabled ? false : true;
        console.log(document.getElementById('rec').disabled)
    }
    function checkRec() {
        document.getElementById('sup').disabled = document.getElementById('sup').disabled ? false : true;
    }
    function FormValidate() {
        if (document.getElementById('sup').checked == false && document.getElementById('rec').checked == false) {
            alert("Please check port role")
            return false
        } else {
            return true
        }
    }
</script>
@{
    if (ViewBag.Message != null)
    {
        <script>
        window.onload = function () { alert("@ViewBag.Message") }
        </script>
    }
}